@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('bg1.png')no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    position: relative;
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
}
h2{
    font-size: 2em;
    text-align: center;
    color: #fff;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width:310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #fff;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background:transparent;
    font-size: 1em;
    padding: 0 35px 0 5px;
    border: none;
    outline: none;
    color: #fff;
}

input:focus ~ label
{
    top:-3px;
    transform: translateY(-100%);
}
input:valid ~ label{
    top: 2px;
}
.inputbox ion-icon{
    position: absolute;
    right:8px;
    top:20px;
    color: #fff;
    font-size: 1.2em;
}
.remember{
    color: #fff;
    margin: -15px 0 15px 0;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
}
.remember label input{
    margin-right: 3px;
}
.remember label a{
    color: #fff;
    text-decoration: none;
}
.remember label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}
.register{
    font-size: 0.9em;
    color:#fff;
    text-align: center;
    margin:25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}